body {
    background-color: rgba(0, 0, 0, 0.662);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

.playListContainer {
    margin-bottom: 50px;
}

.trackItem {
    color: rgba(232, 232, 31, 0.712);
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
}

.trackItem:hover {
    color: rgba(244, 35, 35, 0.817);
}

.musicPlayer {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: all 1.5s ease-in;
}

.currentAndTotleTime {
    margin-bottom: 10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#currentProgress {
    width: 10%;
    height: 100%;
    background-color: red;
    transition: all 1.5s ease-in;
    
}

#progressBar {
    width: 250px;
    height: 5px;
    background-color: lightgray;
    border-radius: 10px;
    opacity: 0;
    transition: all 1.5s ease-in;
}

.controls {
    font-size: 30px;
    color: #fff;
    margin: 20px 40px;
    cursor: pointer;
}
.pauseButton {
    display: none;
}

.currentAndTotleTime {
    color: lightblue;
}
